# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
lib-cov
coverage
*.lcov
.nyc_output

# Dependencies
node_modules/
jspm_packages/
web_modules/

# TypeScript
*.tsbuildinfo

# Optional caches
.npm
.eslintcache
.stylelintcache

# dotenv
.env
.env.*
!.env.example

# Bundler / build
.cache
.parcel-cache
.next
out
.nuxt
dist
.output
.temp
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/
.vite/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Prisma / SQLite
server/prisma/*.db
server/prisma/*.db-journal

# OS / IDE
.DS_Store
.idea
.vscode-test

# pnpm / yarn
.pnpm-store
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
